
.card-wrapper{
  padding: 10px;
  margin-top: 50px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
  padding: 10px;
}

.item-card{
  width: 12rem;
}

.card-text{
  font-size: 15px;
}

.title{
  font-weight: bold;
}

.shopping-cart {
  padding: 10px;
  margin-top: 50px;
}
